<section class="container" id="homeprincipal">
 

	<div class="grid xxlg-col-1 xlg-col-1 lg-col-1 postmed-col-1 med-col-1 sma-col-1 xsma-col-1 xxsma-col-1 fxmbl">
			
			<div class="badge_contract">
				<img src="/img/img_bgs/estandarteplacacontract.png">
			</div>
			<div class="titleHome">
				<h2 class="titleH">Neko Game, el mejor crypto token</h2>
				<p class="minititleH">creado por la comunidad, para la comunidad...</p>
			</div>

			
		    <div class="nmenu elementInactive" id="navmenu">
		          <ul>
		            <li id="lineProjects"><a href="http://localhost:4005/proyects/nekogamesluck">Proyectos</a></li>
		            <div class="nmenu2 elementInactive" id="navmenu2">
		            	<ul id="menuLineProjects">
			          		<li><a href="http://localhost:4005/proyects/nekogamesluck">Neko Games Luck</a></li>
				            <li><a>Wake Up The Cat</a></li>
				            <li><a href="http://localhost:4005/proyects/nekogamenetwork">Neko Game Network</a></li>
				            <li><a>Neko Game NFT</a></li>
				            <li><a>Neko Game CASINO</a></li>
				            <li><a>Neko Game Metaverso</a></li>
		          		</ul>
		            </div>
		          	
		            <li alt="Whitepapper,"><a href="http://localhost:4005/proyects/nekogamesluck">Sobre Neko Game</a></li>
		            <li><a href="http://localhost:4005/proyects/nekogamesluck">Desarrolladores</a></li>
		            <li><a href="http://localhost:4005/proyects/nekogamesluck"></a>Proyectos de Investigación</li>


		            
		          </ul>

		    </div>
		    
			<div class="neko-hpslider">					
				<img style="visibility: hidden;" class="reyneko" src="/img/img_bgs/nekitorey.svg">
				<!--<img class="estelahumo" src="/img/img_bgs/nekonetworkworld.svg">-->
				
			</div>
			<div class="sin_view" id="two">
				
				<div class="buy_token_shortcuts">
					<a class="btn_style_1 btnaurayellow" href="#"><h3>Comprar en Pancakeswap<img src="/img/img_bgs/pancakecaritalogo.png"></h3></a>
				</div>
				<div class="buy_token_shortcuts clms">
					<div class="column_1">
						<h4>Info Token</h4>
						<div class="btn_style_1_div"><img src="/img/img_bgs/bscscan_logo_black.png"><img src="/img/img_bgs/dextools_logo_black.png"></div>
					</div>
					<div class="column_2">
					<h4>Contrato BSC Neko Game</h4>
					<div class="btn_style_1_div"><h5>0xd67df8s9f6sd6fgsd7g69ds6gsd7fsdfgysddf</h5></div>
					</div>
					<div class="column_3">
					<h4>Social</h4>
					<div class="btn_style_1_div"><img src="/img/img_bgs/youtube_logo_black_transparent.png"><img src="/img/img_bgs/twitter_logo_black_transparent.png"><img src="/img/img_bgs/facebook_logo_black_transparent.png"><img src="/img/img_bgs/telegram_logo_black_transparent.png"></div>
					</div>
					
				</div>
				<div style="margin: 1rem 0 1rem 0;" class="buy_token_shortcuts">
					<a class="btn_style_1 btnaurayellow" href="#"><h3>Comprar en Poocoin<img src="/img/img_bgs/poocoincaritalogo.svg"></h3></a>
				</div>
			</div>
			
			<!--<div class="neko-hpslider2">
				<img class="text" src="/img/img_bgs/nekonetworktext.svg">
			</div>-->			
	</div>

	

</section>

<section class="container" id="homesecundaryshorts">
	
	<div class="grid xxlg-col-1 xlg-col-1 lg-col-1 postmed-col-1 med-col-1 sma-col-1 xsma-col-1 xxsma-col-1 fxmbl" id="grid">
		<div class="sin_view" id="three">
			<div class="bar_title">
				<div class="title">
				<h2>Comienza el viaje...</h2>
				<h4>Neko Game es el portal a un viaje desconocido, un token que de verdad te da la oportunidad de hacer realidad tus metas y beneficios esperados, un expendio de subproyectos que harán posible esto y mucho más</h4>	
				</div>
				<div class="bar_title_img">
					<img src="/img/img_bgs/nekoastronautasobrecohete.png" alt="Imagen descriptiva.">
				</div>
			</div>
		</div>


		<div class="sin_view" id="four">
			<div class="box-rapid_options" id="box-rapid_options">
				
				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="imgsize" src="/img/img_bgs/nekosabrazados.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Comprar Neko Game</h3>
						<p class="details_description">Compra Neko Game y comienza a gozar de los beneficios.</p>
					</div>
					
					
				</div>

				<!--<div class="micro_description_home">
					
					<div class="text_description">
						<h2 class="title_description">Un token realmente equitativo, ganas tú, ganamos todos</h2>
						<p class="details_description">Diseñado para obtener el máximo beneficio en igualdades, más apoyo al token es traducible a una mayor ganancia para todos los holders, recuerda que los más fieles siempre serán los más recompensados.</p>
					</div>
					<div class="graphic_description">
						<img src="" alt="Imagen descriptiva.">
					</div>
					
				</div>-->

				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="imgsize" src="/img/img_bgs/guantenekothanosbgw.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Leer Whitepapers</h3>
						<p class="details_description">Lee el whitepaper del token y el respectivo a cada uno de los proyectos subyacentes.</p>
					</div>
					
					
				</div>


				<!--<div class="micro_description_home">
					<div class="graphic_description1">
						<img src="/img/img_bgs/nekoastronautasobrecohete.png" alt="Imagen descriptiva.">
					</div>
					<div class="text_description1">
						<h3 class="title_description">¡Aquí no hay límites!</h3>
						<p class="details_description">Neko to the moon e incluso más allá...! Está en nosotros llevar este proyecto a la cima y cumplír las expectativas de toda la comunidad, si la comunidad se decíde entonces los devs nos comprometemos a lograr dicho objetivo, recuerda, somos más que una familia.</p>
					</div>
					
					
				</div>-->

			</div>

			<div class="box-rapid_options" id="box-rapid_options">
				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="mundos imgsize" src="/img/img_bgs/nekoastronautaconvariosmundos3.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Road Map</h3>
						<p class="details_description">Revisa el camino base que hemos escrito para Neko Game, los objetivos principales a recorrer.</p>
					</div>
					
					
				</div>

				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="imgsize" src="/img/img_bgs/nekosabrazados.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Apoyar investigaciones</h3>
						<p class="details_description">Apoya la investigación de tu elección y aporta al futuro.</p>
					</div>
					
					
				</div>

			</div>

		</div>
		
		<div class="sin_view" id="six">
			
			<div class="mini_title">
				<h2>Explora más de Neko Game</h2>
			</div>
			<div class="box-micro_descriptions">
				
				<div class="micro_description_home">
					<div class="graphic_description1">
						<img src="/img/img_bgs/nekosabrazadosbgw.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Un token diferente...</h3>
						<p class="details_description">Diseñado para obtener el máximo beneficio en igualdades, un token realmente equitativo y con una meta siempre presente, pensar en los holders, en la comunidad, en quienes llevan y mantienen el proyecto a flote. más apoyo al token es traducible a una mayor ganancia.</p>
					</div>
					
					
				</div>

				<!--<div class="micro_description_home">
					
					<div class="text_description">
						<h2 class="title_description">Un token realmente equitativo, ganas tú, ganamos todos</h2>
						<p class="details_description">Diseñado para obtener el máximo beneficio en igualdades, más apoyo al token es traducible a una mayor ganancia para todos los holders, recuerda que los más fieles siempre serán los más recompensados.</p>
					</div>
					<div class="graphic_description">
						<img src="" alt="Imagen descriptiva.">
					</div>
					
				</div>-->

				<div class="micro_description_home">
					<div class="graphic_description1">
						<img src="/img/img_bgs/guantenekothanos2.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">La comunidad tiene el poder!</h3>
						<p class="details_description">Sin el pilar más importante, ningún proyecto es posible, por ello, el token tomará el rumbo que la comunidad decida, será la responsable de darle forma al token, de dibujar el camino y los horizontes del mismo, en pocas palabras el futuro del proyecto está en sus manos.</p>
					</div>
					
					
				</div>
			
			
				<div class="micro_description_home dxl1">
					<div class="graphic_description1">
						<img class="mundos" src="/img/img_bgs/nekoastronautaconvariosmundos.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Un ecosistema para crecer</h3>
						<p class="details_description">Se han diseñado diferentes proyectos para aumentar el alcance del token dentro de toda la comunidad cripto, un ecosistema pensado para diferentes objetivos que en general te podrán hacer ganar e impulsarán a Neko Game a la luna y mucho más allá...!</p>
					</div>
					
					
				</div>


				<!--<div class="micro_description_home">
					<div class="graphic_description1">
						<img src="/img/img_bgs/nekoastronautasobrecohete.png" alt="Imagen descriptiva.">
					</div>
					<div class="text_description1">
						<h3 class="title_description">¡Aquí no hay límites!</h3>
						<p class="details_description">Neko to the moon e incluso más allá...! Está en nosotros llevar este proyecto a la cima y cumplír las expectativas de toda la comunidad, si la comunidad se decíde entonces los devs nos comprometemos a lograr dicho objetivo, recuerda, somos más que una familia.</p>
					</div>
					
					
				</div>-->

			</div>

			<div class="box-micro_descriptions_x">
				<div class="micro_description_home">
					<div class="graphic_description1">
						<img class="mundos" src="/img/img_bgs/nekoastronautaconvariosmundos.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Un ecosistema para crecer</h3>
						<p class="details_description">Se han diseñado diferentes proyectos para aumentar el alcance del token dentro de toda la comunidad cripto, un ecosistema pensado para diferentes objetivos que en general te podrán hacer ganar e impulsarán a Neko Game a la luna y mucho más allá...!</p>
					</div>
					
					
				</div>

			</div>


		</div>
		

	</div>


</section>