<div class="bg-one" id="bg-one"></div>
<div class="bg-two" id="bg-two"></div>

<section class="container displayn" id="homeprincipal">
	
	
	<div class="row">
		
		<div class="box-title flexdc">
			<h2 class="title">Neko Game</h2>
			<p class="subtitle">creado por la comunidad, para la comunidad...</p>
		</div>	
			
	</div>

	<div id="viewbgnekos" class="row displayn">
		<div class="container center">
			<img class="kingneko" src="/img/img_bgs/nekitorey.svg">
		</div>

	</div>

	<div class="row" id="one">

		<div class="bg-minicircle"></div>
		<div class="bg-minicuadradorot"></div>
		<img class="nekitobebespace" src="/img/img_bgs/nekitobebeastronauta.svg">

		<div class="container">
				
				<div class="buy_token_shortcuts">
					<a id="btn_style" class="btn_style_1 btnaurayellow" href="#"><h3>Comprar en Pancakeswap<img src="/img/img_bgs/pancakecaritalogo.png"></h3></a>
				</div>
				<div class="buy_token_shortcuts clms">
					<div class="column_1">
						<h4>Info Token</h4>
						<div id="btn_style" class="btn_style_1_div infotokenlogosb displayn"><a href=""><img src="/img/img_bgs/bscscan_logo_black.png"></a><a href=""><img src="/img/img_bgs/dextools_logo_black.png"></a></div>
						<div id="btn_style" class="btn_style_1_div infotokenlogosw"><a href=""><img src="/img/img_bgs/bscscan_logo_white.png"></a><a href=""><img src="/img/img_bgs/dextools_logo_white.png"></a></div>
					</div>
					<div class="column_2">
					<h4>Contrato BSC Neko Game</h4>
					<div id="btn_style" class="btn_style_1_div"><h5>0xd67df8s9f6sd6fgsd7g69ds6gsd7fsdfgysddf</h5></div>
					</div>
					<div class="column_3">
					<h4>Social</h4>
					<div id="btn_style" class="btn_style_1_div infosociallogob displayn"><a href=""><img src="/img/img_bgs/youtube_logo_black_transparent.png"></a><a href=""><img src="/img/img_bgs/twitter_logo_black_transparent.png"></a><a href=""><img src="/img/img_bgs/facebook_logo_black_transparent.png"></a><a href=""><img src="/img/img_bgs/telegram_logo_black_transparent.png"></a></div>
					<div id="btn_style" class="btn_style_1_div infosociallogow"><a href=""><img src="/img/img_bgs/youtube_logo_white_transparent.png"></a><a href=""><img src="/img/img_bgs/twitter_logo_white_transparent.png"></a><a href=""><img src="/img/img_bgs/facebook_logo_white_transparent.png"></a><a href=""><img src="/img/img_bgs/telegram_logo_white_transparent.png"></a></div>
					</div>
					
				</div>
				<div class="buy_token_shortcuts">
					<a id="btn_style" class="btn_style_1 btnaurayellow" href="#"><h3>Comprar en Poocoin<img src="/img/img_bgs/poocoincaritalogo.svg"></h3></a>
				</div>
		</div>

	</div>

	<div class="row" id="two">

		<div class="container">
			
			<div class="row center">
				<h2>¿Qué es Neko Games?</h2><h5>(vistazo rápido)</h5>

			</div>

			<div id="line" class="line"></div>
			<div id="linew" class="linew displayn"></div>


			<div class="row introduction center">

				<div class="container">
					<img src="/img/img_bgs/nekoastronautasobrecohete.svg">
					
				</div>

				<div class="container">
					<div class="rectangulo flexdc center">
						<h3>Introducción</h3>
						<p>Neko Game es un proyecto especialmente creado para las personas que tienen una visión clara sobre las inversiones a largo plazo, el token está diseñado para dar la mayor cantidad de beneficios a los holders más asiduos, la finalidad del sistema es el resguardar la integridad y sustentabilidad del mismo proyecto, a la vez que se recompensa a quienes hacen esto posible.
						Además de esto, Neko Game se compone de algunos subproyectos, creados para funcionar como pilares y soporte extra del token, si utilizas algun subproyecto ya estás aportando al progreso del token.</p>
					</div>
					<a class="readmore colorb" id="readmore" href="/nekogame"><h4>Leer más...</h4></a>
					
				</div>

			</div>

			

		</div>
	</div>

	<div class="row" id="three">
		<div class="container">

			<div class="row center">
				<h2>RoadMap</h2>

			</div>

			<div id="line" class="line"></div>
			<div id="linew" class="linew displayn"></div>


			<div class="row roadmap margint3r">
				
				<div class="container-50perc left flexdc">
					<div class="minicircle fase-on"><h4>1</h4></div>
					<h4 class="rsubtitle">FASE</h4>
					<ul>
						
						<li><i class="fa-solid fa-circle-dot"></i>Lanzamiento del sitio web.</li>
						<li><i class="fa-solid fa-circle"></i>Impulso de marketing para difundir el proyecto.</li>
						<li><i class="fa-solid fa-circle"></i>Inicio de la preventa.</li>
						<h5><i class="fa-solid fa-circle"></i>Nacimiento de Neko Game</h5>
						<li><i class="fa-solid fa-circle"></i>AirDrop. (tokens Neko antigüo)</li>
						<li><i class="fa-solid fa-circle"></i>2,500 Holders.</li>
					</ul>
					
				</div>

				<div class="container-50perc right flexdc">
					<div class="minicircle marginla"><h4>2</h4></div>
					<h4 class="rsubtitle">FASE</h4>
					<ul>
						
						<li>Listamiento en CoinGecko.<i class="fa-solid fa-circle"></i></li>
						<li>Listamiento en CoinMarketCap.<i class="fa-solid fa-circle"></i></li>
						<li>Auditoría y certificación de terceros.<i class="fa-solid fa-circle"></i></li>
						<li>8,500 Holders<i class="fa-solid fa-circle"></i></li>
						<li>Impulso de marketing para dufundir el proyecto.<i class="fa-solid fa-circle"></i></li>
					</ul>

				</div>
				

			</div>

			<div class="row roadmap">
				
				<div class="container line1">
					<img src="/img/img_bgs/monticuloconnekito.svg">
					<div class="linemap"></div>
					<img src="/img/img_bgs/monticulomoneda.svg">
				</div>
				

			</div>

			<div class="row roadmap">
				<div class="container-50perc left flexdc">
					<div class="minicircle"><h4>4</h4></div>
					<h4 class="rsubtitle">FASE</h4>
					<ul><h5>PRÓXIMAMENTE...</h5></ul>

				</div>
				<div class="container-50perc right">
					<div class="vlinemapr"></div>

				</div>
			</div>

			<div class="row roadmap">
				
				<div class="container line2">
					<img src="/img/img_bgs/monticulocostal.svg">
					<div class="linemap"></div>
					<img src="/img/img_bgs/monticulomoneda.svg">
				</div>

			</div>

			<div class="row roadmap">
				
				
				<div class="container-50perc left">
					<div class="vlinemapl"></div>

				</div>

				<div class="container-50perc right flexdc">
					<div class="minicircle marginla"><h4>3</h4></div>
					<h4 class="rsubtitle">FASE</h4>
					<ul>
						
						<li>Impulso de marketing para difundir Neko Games Luck.<i class="fa-solid fa-circle"></i></li>
						<li>Lanzamiento de Neko Games Luck.<i class="fa-solid fa-circle"></i></li>
						<li>Lanzamiento de Neko Game Network.<i class="fa-solid fa-circle"></i></li>
						<li>15,000 Holders.<i class="fa-solid fa-circle"></i></li>
						<li>Lanzamiento de Wake Up The Neko.<i class="fa-solid fa-circle"></i></li>
					</ul>

				</div>
				

			</div>

			<div class="row roadmap">
				
				<div class="container line1">
					<img src="/img/img_bgs/monticulomoneda.svg">
					<div class="linemap"></div>
					<img src="/img/img_bgs/monticulocostal.svg">
				</div>
				

			</div>

			<div class="row roadmap margint3r">
				
				<div class="container-50perc left flexdc">
					<div class="minicircle"><h4>5</h4></div>
					<h4 class="rsubtitle">menu</h4>
					<ul><h5>PRÓXIMAMENTE...</h5></ul>

					
				</div>

				<div class="container-50perc right flexdc">
					<div class="minicircle marginla"><h4>6</h4></div>
					<h4 class="rsubtitle">menu</h4>
					<ul><h5>PRÓXIMAMENTE...</h5></ul>
					

				</div>
				

			</div>

		</div>
	</div>


	<div class="row" id="four">
		<div class="container">

			<div class="row center">
				<h2>Whitepaper</h2>

			</div>

			<div id="line" class="line"></div>
			<div id="linew" class="linew displayn"></div>

			<div class="row whitepaper" id="rowwhitep" style="flex-wrap: nowrap;">
					
				<div class="container center flexdc">
					
					<h4>Neko Game v1 (Formal)</h4>
					<a class="aportadaw" href="/pdfs/WHITEPAPER_NEKOGAME_FORMAL.pdf">
						<div class="marco">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>
							
							<img class="imgp" src="/img/img_bgs/portadawhitepapernekof.svg">

						</div>
					</a>

				</div>

				<div class="container center flexdc">
					
					<h4>Neko Game v2 (Meme)</h4>

					<a class="aportadaw" href="/pdfs/WHITEPAPER_NEKOGAME_MEME.pdf">
						<div class="marco">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>
							
							<img class="imgp" src="/img/img_bgs/portadawhitepaperneko.svg">

						</div>
					</a>
				</div>

			</div>

			<div class="row whitepaper" id="rowwhitep">

				<div class="container center flexdc">
					
					<h4>Subproyectos</h4>

					<div class="marco subprojects">

						<div class="marcotop"></div>
						<div class="marcoright"></div>
						<div class="marcobottom"></div>
						<div class="marcoleft"></div>

						<a id="btn_style" class="btn_style_1" href="{{ whitepaperNGL.url }}">Neko Games Luck<img src="/img/img_bgs/pancakecaritalogo.png"></a>

					</div>

				</div>

			</div>


		</div>
	</div>

	<div class="row" id="five">
		<div class="container marginb3r">

			<div class="row center">
				<h2>Tokenomics</h2>

			</div>

			<div id="line" class="line"></div>
			<div id="linew" class="linew displayn"></div>

			<div class="row tokenomics flexdr margint3r" style="flex-wrap: wrap;">

				<div class="container flexdr" style="flex-wrap: wrap;">
					
					<div class="circle flexdc center marginb1r"><h3>MAX BUY 2%</h3><img src="/img/img_bgs/tokenomicmaxbuy2perc.png"></div>
					<div class="circle flexdc center marginb1r"><h3>MAX HOLD 5%</h3><img src="/img/img_bgs/tokenomicmaxhold5perc.png"></div>
					<div class="circle flexdc center marginb1r"><h3>BURN 25%</h3><img src="/img/img_bgs/tokenomicburn25perc.png"></div>
					<div class="circle flexdc center marginb1r"><h3>LIQUIDITY 35%</h3><img src="/img/img_bgs/tokenomicliquidity35perc.png"></div>
					<div class="circle flexdc center marginb1r"><h3>PRE-SALE 25%</h3></div>
				</div>

				




			</div>	
		</div>

	</div>

</section>