<div class="box-micro_descriptions">
			
			<div class="micro_description_home">
				<div class="graphic_description1">
					<img src="/img/img_bgs/nekosabrazados.png" alt="Imagen descriptiva.">
				</div>
				<div class="text_description1">
					<h3 class="title_description">Un token diferente...</h3>
					<p class="details_description">Diseñado para obtener el máximo beneficio en igualdades, un token realmente equitativo y con una meta siempre presente, pensar en los holders, en la comunidad, en quienes llevan y mantienen el proyecto a flote. más apoyo al token es traducible a una mayor ganancia para todos los holders, recuerda que los más fieles siempre serán los más recompensados.</p>
				</div>
				
				
			</div>

			<!--<div class="micro_description_home">
				
				<div class="text_description">
					<h2 class="title_description">Un token realmente equitativo, ganas tú, ganamos todos</h2>
					<p class="details_description">Diseñado para obtener el máximo beneficio en igualdades, más apoyo al token es traducible a una mayor ganancia para todos los holders, recuerda que los más fieles siempre serán los más recompensados.</p>
				</div>
				<div class="graphic_description">
					<img src="" alt="Imagen descriptiva.">
				</div>
				
			</div>-->

				<div class="micro_description_home">
				<div class="graphic_description1">
					<img src="/img/img_bgs/guantenekothanos2.png" alt="Imagen descriptiva.">
				</div>
				<div class="text_description1">
					<h3 class="title_description">La comunidad tiene el poder!</h3>
					<p class="details_description">Sin el pilar más importante, ningún proyecto es posible. El token tomará el rumbo que la comunidad decida, los desarrolladores pueden presentar proyectos que busquen el beneficio del token y por ende el beneficio de todos, sin embargo, cualquier proyecto presentado tendrá que ser aceptado por mayoría de la comunidad y de ser necearia, la intervención de la Neko Army Fieles para la desición final.</p>
				</div>
				
				
			</div>
		
		
			<div class="micro_description_home">
				<div class="graphic_description1">
					<img class="mundos" src="/img/img_bgs/nekoastronautaconvariosmundos.png" alt="Imagen descriptiva.">
				</div>
				<div class="text_description1">
					<h3 class="title_description">Diferentes formas de apoyar al proyecto</h3>
					<p class="details_description">Se han diseñado diferentes proyectos para aumentar el alcance del token dentro de toda la comunidad cripto, un ecosistema pensado para diferentes objetivos que en general te podrán hacer ganar e impulsarán a Neko Game a la luna y mucho más allá...!</p>
				</div>
				
				
			</div>


			<!--<div class="micro_description_home">
				<div class="graphic_description1">
					<img src="/img/img_bgs/nekoastronautasobrecohete.png" alt="Imagen descriptiva.">
				</div>
				<div class="text_description1">
					<h3 class="title_description">¡Aquí no hay límites!</h3>
					<p class="details_description">Neko to the moon e incluso más allá...! Está en nosotros llevar este proyecto a la cima y cumplír las expectativas de toda la comunidad, si la comunidad se decíde entonces los devs nos comprometemos a lograr dicho objetivo, recuerda, somos más que una familia.</p>
				</div>
				
				
			</div>-->

		</div>


<div class="sin_view" id="four">
			<div class="box-rapid_options" id="box-rapid_options">
				
				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="imgsize" src="/img/img_bgs/nekosabrazados.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Comprar Neko Game</h3>
						<p class="details_description">Compra Neko Game y comienza a gozar de los beneficios.</p>
					</div>
					
					
				</div>

				<!--<div class="micro_description_home">
					
					<div class="text_description">
						<h2 class="title_description">Un token realmente equitativo, ganas tú, ganamos todos</h2>
						<p class="details_description">Diseñado para obtener el máximo beneficio en igualdades, más apoyo al token es traducible a una mayor ganancia para todos los holders, recuerda que los más fieles siempre serán los más recompensados.</p>
					</div>
					<div class="graphic_description">
						<img src="" alt="Imagen descriptiva.">
					</div>
					
				</div>-->

				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="imgsize" src="/img/img_bgs/guantenekothanosbgw.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Leer Whitepapers</h3>
						<p class="details_description">Lee el whitepaper del token y el respectivo a cada uno de los proyectos subyacentes.</p>
					</div>
					
					
				</div>


				<!--<div class="micro_description_home">
					<div class="graphic_description1">
						<img src="/img/img_bgs/nekoastronautasobrecohete.png" alt="Imagen descriptiva.">
					</div>
					<div class="text_description1">
						<h3 class="title_description">¡Aquí no hay límites!</h3>
						<p class="details_description">Neko to the moon e incluso más allá...! Está en nosotros llevar este proyecto a la cima y cumplír las expectativas de toda la comunidad, si la comunidad se decíde entonces los devs nos comprometemos a lograr dicho objetivo, recuerda, somos más que una familia.</p>
					</div>
					
					
				</div>-->

			</div>

			<div class="box-rapid_options" id="box-rapid_options">
				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="mundos imgsize" src="/img/img_bgs/nekoastronautaconvariosmundos3.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Road Map</h3>
						<p class="details_description">Revisa el camino base que hemos escrito para Neko Game, los objetivos principales a recorrer.</p>
					</div>
					
					
				</div>

				<div class="rapid_option_home" id="roh">
					<div class="graphic_description1">
						<img class="imgsize" src="/img/img_bgs/nekosabrazados.png" alt="Imagen descriptiva.">
					</div>
					<hr size="2px" width="99.5%" color="gray" class="varseparator">
					<div class="text_description1">
						<h3 class="title_description">Apoyar investigaciones</h3>
						<p class="details_description">Apoya la investigación de tu elección y aporta al futuro.</p>
					</div>
					
					
				</div>

			</div>

		</div>