html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@charset "UTF-8";


/*//////////////////////////

		|CONFIGURACION|

 ///////////////////////////*/


*,
*::after,
*::before{

	box-sizing: border-box;

}


/*///FUENTES PERSONALES///*/
@font-face{

    font-family: 'Cotton Butter';
    src: url(../fonts/CottonButter.ttf);
    font-display: fallback;
    
}



/*//////////////////////////

		|VARIABLES|

 ///////////////////////////*/


:root{

	/*///Font list////*/
	--neko-xfont-v1lato: 'Lato', sans-serif;
	--neko-xfont-quicksand: 'Quicksand', sans-serif;
   --neko-xfont-v3Oxygen: 'Oxygen', sans-serif;
   --neko-xfont-mont: 'Montserrat', sans-serif;
   --neko-xfont-ubuntu: 'Ubuntu', sans-serif;




   /*TEMA BLACK & WHITE*/
   				/*NAV*/
	--neko-xbg-bandw-colorwhite: rgb(250, 250, 250);

   --neko-xbg-bandw-colorblack: rgb(31, 31, 31);
   
   --neko-xbg-bandw-colorblack2: rgb(44, 44, 44);


				/*BODY*/
	--neko-xbg-v1white: rgb(255, 255, 255);

	--neko-xwidth-container: 1300px;

}




/*//////////////////////////

		|GRID CONTAINERS|

 ///////////////////////////*/



 .grid{
 	display: grid;
 	grid-gap: 20px;
 	margin-bottom: 20px;
 }

 /* TAMAÑO DE PANTALLA EXTRA EXTRA GRANDE & TV*/

@media screen and (min-width: 1400px){
 .xxlg-col-1{grid-template-columns: repeat(1, 1fr);}
 .xxlg-col-2{grid-template-columns: repeat(2, 1fr);}
 .xxlg-col-3{grid-template-columns: repeat(3, 1fr);}
 .xxlg-col-4{grid-template-columns: repeat(4, 1fr);}
 .xxlg-col-5{grid-template-columns: repeat(5, 1fr);}
 .xxlg-col-6{grid-template-columns: repeat(6, 1fr);}
 .xxlg-col-7{grid-template-columns: repeat(7, 1fr);}
 .xxlg-col-8{grid-template-columns: repeat(8, 1fr);}
 .xxlg-col-9{grid-template-columns: repeat(9, 1fr);}
 .xxlg-col-10{grid-template-columns: repeat(10, 1fr);}
 .xxlg-col-11{grid-template-columns: repeat(11, 1fr);}
 .xxlg-col-12{grid-template-columns: repeat(12, 1fr);}

 .xxlg-span-1{grid-column: span 1;}
 .xxlg-span-2{grid-column: span 2;}
 .xxlg-span-3{grid-column: span 3;}
 .xxlg-span-4{grid-column: span 4;}
 .xxlg-span-5{grid-column: span 5;}
 .xxlg-span-6{grid-column: span 6;}
 .xxlg-span-7{grid-column: span 7;}
 .xxlg-span-8{grid-column: span 8;}
 .xxlg-span-9{grid-column: span 9;}
 .xxlg-span-10{grid-column: span 10;}
 .xxlg-span-11{grid-column: span 11;}
 .xxlg-span-12{grid-column: span 12;}
 }



/* TAMAÑO DE PANTALLA EXTRA GRANDE & TV*/

@media screen and (min-width: 1200px) and (max-width: 1399px){
 .xlg-col-1{grid-template-columns: repeat(1, 1fr);}
 .xlg-col-2{grid-template-columns: repeat(2, 1fr);}
 .xlg-col-3{grid-template-columns: repeat(3, 1fr);}
 .xlg-col-4{grid-template-columns: repeat(4, 1fr);}
 .xlg-col-5{grid-template-columns: repeat(5, 1fr);}
 .xlg-col-6{grid-template-columns: repeat(6, 1fr);}
 .xlg-col-7{grid-template-columns: repeat(7, 1fr);}
 .xlg-col-8{grid-template-columns: repeat(8, 1fr);}
 .xlg-col-9{grid-template-columns: repeat(9, 1fr);}
 .xlg-col-10{grid-template-columns: repeat(10, 1fr);}
 .xlg-col-11{grid-template-columns: repeat(11, 1fr);}
 .xlg-col-12{grid-template-columns: repeat(12, 1fr);}

 .xlg-span-1{grid-column: span 1;}
 .xlg-span-2{grid-column: span 2;}
 .xlg-span-3{grid-column: span 3;}
 .xlg-span-4{grid-column: span 4;}
 .xlg-span-5{grid-column: span 5;}
 .xlg-span-6{grid-column: span 6;}
 .xlg-span-7{grid-column: span 7;}
 .xlg-span-8{grid-column: span 8;}
 .xlg-span-9{grid-column: span 9;}
 .xlg-span-10{grid-column: span 10;}
 .xlg-span-11{grid-column: span 11;}
 .xlg-span-12{grid-column: span 12;}
 }


 /* TAMAÑO DE PANTALLA GRANDE & TV*/

@media screen and (min-width: 992px) and (max-width: 1199px){
 .lg-col-1{grid-template-columns: repeat(1, 1fr);}
 .lg-col-2{grid-template-columns: repeat(2, 1fr);}
 .lg-col-3{grid-template-columns: repeat(3, 1fr);}
 .lg-col-4{grid-template-columns: repeat(4, 1fr);}
 .lg-col-5{grid-template-columns: repeat(5, 1fr);}
 .lg-col-6{grid-template-columns: repeat(6, 1fr);}
 .lg-col-7{grid-template-columns: repeat(7, 1fr);}
 .lg-col-8{grid-template-columns: repeat(8, 1fr);}
 .lg-col-9{grid-template-columns: repeat(9, 1fr);}
 .lg-col-10{grid-template-columns: repeat(10, 1fr);}
 .lg-col-11{grid-template-columns: repeat(11, 1fr);}
 .lg-col-12{grid-template-columns: repeat(12, 1fr);}

 .lg-span-1{grid-column: span 1;}
 .lg-span-2{grid-column: span 2;}
 .lg-span-3{grid-column: span 3;}
 .lg-span-4{grid-column: span 4;}
 .lg-span-5{grid-column: span 5;}
 .lg-span-6{grid-column: span 6;}
 .lg-span-7{grid-column: span 7;}
 .lg-span-8{grid-column: span 8;}
 .lg-span-9{grid-column: span 9;}
 .lg-span-10{grid-column: span 10;}
 .lg-span-11{grid-column: span 11;}
 .lg-span-12{grid-column: span 12;}
 }
 

  /* TAMAÑO DE PANTALLA PRE-MEDIANO & TABLETS*/
@media screen and (min-width: 930px) and (max-width: 991px){
 .postmed-col-1{grid-template-columns: repeat(1, 1fr);}
 .postmed-col-2{grid-template-columns: repeat(2, 1fr);}
 .postmed-col-3{grid-template-columns: repeat(3, 1fr);}
 .postmed-col-4{grid-template-columns: repeat(4, 1fr);}
 .postmed-col-5{grid-template-columns: repeat(5, 1fr);}
 .postmed-col-6{grid-template-columns: repeat(6, 1fr);}
 .postmed-col-7{grid-template-columns: repeat(7, 1fr);}
 .postmed-col-8{grid-template-columns: repeat(8, 1fr);}
 .postmed-col-9{grid-template-columns: repeat(9, 1fr);}
 .postmed-col-10{grid-template-columns: repeat(10, 1fr);}
 .postmed-col-11{grid-template-columns: repeat(11, 1fr);}
 .postmed-col-12{grid-template-columns: repeat(12, 1fr);}


 .postmed-span-1{grid-column: span 1;}
 .postmed-span-2{grid-column: span 2;}
 .postmed-span-3{grid-column: span 3;}
 .postmed-span-4{grid-column: span 4;}
 .postmed-span-5{grid-column: span 5;}
 .postmed-span-6{grid-column: span 6;}
 .postmed-span-7{grid-column: span 7;}
 .postmed-span-8{grid-column: span 8;}
 .postmed-span-9{grid-column: span 9;}
 .postmed-span-10{grid-column: span 10;}
 .postmed-span-11{grid-column: span 11;}
 .postmed-span-12{grid-column: span 12;}


 }

 /* TAMAÑO DE PANTALLA MEDIANO & TABLETS*/
@media screen and (min-width: 768px) and (max-width: 929px){
 .med-col-1{grid-template-columns: repeat(1, 1fr);}
 .med-col-2{grid-template-columns: repeat(2, 1fr);}
 .med-col-3{grid-template-columns: repeat(3, 1fr);}
 .med-col-4{grid-template-columns: repeat(4, 1fr);}
 .med-col-5{grid-template-columns: repeat(5, 1fr);}
 .med-col-6{grid-template-columns: repeat(6, 1fr);}
 .med-col-7{grid-template-columns: repeat(7, 1fr);}
 .med-col-8{grid-template-columns: repeat(8, 1fr);}
 .med-col-9{grid-template-columns: repeat(9, 1fr);}
 .med-col-10{grid-template-columns: repeat(10, 1fr);}
 .med-col-11{grid-template-columns: repeat(11, 1fr);}
 .med-col-12{grid-template-columns: repeat(12, 1fr);}


 .med-span-1{grid-column: span 1;}
 .med-span-2{grid-column: span 2;}
 .med-span-3{grid-column: span 3;}
 .med-span-4{grid-column: span 4;}
 .med-span-5{grid-column: span 5;}
 .med-span-6{grid-column: span 6;}
 .med-span-7{grid-column: span 7;}
 .med-span-8{grid-column: span 8;}
 .med-span-9{grid-column: span 9;}
 .med-span-10{grid-column: span 10;}
 .med-span-11{grid-column: span 11;}
 .med-span-12{grid-column: span 12;}


 }

  /* TAMAÑO DE PANTALLA PEQUEÑO & CELULARES*/
@media screen and (min-width: 576px) and (max-width: 767px){
 .sma-col-1{grid-template-columns: repeat(1, 1fr);}
 .sma-col-2{grid-template-columns: repeat(2, 1fr);}
 .sma-col-3{grid-template-columns: repeat(3, 1fr);}
 .sma-col-4{grid-template-columns: repeat(4, 1fr);}
 .sma-col-5{grid-template-columns: repeat(5, 1fr);}
 .sma-col-6{grid-template-columns: repeat(6, 1fr);}
 .sma-col-7{grid-template-columns: repeat(7, 1fr);}
 .sma-col-8{grid-template-columns: repeat(8, 1fr);}
 .sma-col-9{grid-template-columns: repeat(9, 1fr);}
 .sma-col-10{grid-template-columns: repeat(10, 1fr);}
 .sma-col-11{grid-template-columns: repeat(11, 1fr);}
 .sma-col-12{grid-template-columns: repeat(12, 1fr);}


 .sma-span-1{grid-column: span 1;}
 .sma-span-2{grid-column: span 2;}
 .sma-span-3{grid-column: span 3;}
 .sma-span-4{grid-column: span 4;}
 .sma-span-5{grid-column: span 5;}
 .sma-span-6{grid-column: span 6;}
 .sma-span-7{grid-column: span 7;}
 .sma-span-8{grid-column: span 8;}
 .sma-span-9{grid-column: span 9;}
 .sma-span-10{grid-column: span 10;}
 .sma-span-11{grid-column: span 11;}
 .sma-span-12{grid-column: span 12;}

 }



  /* TAMAÑO DE PANTALLA EXTRA PEQUEÑO*/
@media screen and (min-width: 321) and (max-width: 575px){
 .xsma-col-1{grid-template-columns: repeat(1, 1fr);}
 .xsma-col-2{grid-template-columns: repeat(2, 1fr);}
 .xsma-col-3{grid-template-columns: repeat(3, 1fr);}
 .xsma-col-4{grid-template-columns: repeat(4, 1fr);}
 .xsma-col-5{grid-template-columns: repeat(5, 1fr);}
 .xsma-col-6{grid-template-columns: repeat(6, 1fr);}
 .xsma-col-7{grid-template-columns: repeat(7, 1fr);}
 .xsma-col-8{grid-template-columns: repeat(8, 1fr);}
 .xsma-col-9{grid-template-columns: repeat(9, 1fr);}
 .xsma-col-10{grid-template-columns: repeat(10, 1fr);}
 .xsma-col-11{grid-template-columns: repeat(11, 1fr);}
 .xsma-col-12{grid-template-columns: repeat(12, 1fr);}


 .xsma-span-1{grid-column: span 1;}
 .xsma-span-2{grid-column: span 2;}
 .xsma-span-3{grid-column: span 3;}
 .xsma-span-4{grid-column: span 4;}
 .xsma-span-5{grid-column: span 5;}
 .xsma-span-6{grid-column: span 6;}
 .xsma-span-7{grid-column: span 7;}
 .xsma-span-8{grid-column: span 8;}
 .xsma-span-9{grid-column: span 9;}
 .xsma-span-10{grid-column: span 10;}
 .xsma-span-11{grid-column: span 11;}
 .xsma-span-12{grid-column: span 12;}

 }


   /* TAMAÑO DE PANTALLA EXTRA PEQUEÑO*/
@media screen and (max-width: 320px){
 .xxsma-col-1{grid-template-columns: repeat(1, 1fr);}
 .xxsma-col-2{grid-template-columns: repeat(2, 1fr);}
 .xxsma-col-3{grid-template-columns: repeat(3, 1fr);}
 .xxsma-col-4{grid-template-columns: repeat(4, 1fr);}
 .xxsma-col-5{grid-template-columns: repeat(5, 1fr);}
 .xxsma-col-6{grid-template-columns: repeat(6, 1fr);}
 .xxsma-col-7{grid-template-columns: repeat(7, 1fr);}
 .xxsma-col-8{grid-template-columns: repeat(8, 1fr);}
 .xxsma-col-9{grid-template-columns: repeat(9, 1fr);}
 .xxsma-col-10{grid-template-columns: repeat(10, 1fr);}
 .xxsma-col-11{grid-template-columns: repeat(11, 1fr);}
 .xxsma-col-12{grid-template-columns: repeat(12, 1fr);}


 .xxsma-span-1{grid-column: span 1;}
 .xxsma-span-2{grid-column: span 2;}
 .xxsma-span-3{grid-column: span 3;}
 .xxsma-span-4{grid-column: span 4;}
 .xxsma-span-5{grid-column: span 5;}
 .xxsma-span-6{grid-column: span 6;}
 .xxsma-span-7{grid-column: span 7;}
 .xxsma-span-8{grid-column: span 8;}
 .xxsma-span-9{grid-column: span 9;}
 .xxsma-span-10{grid-column: span 10;}
 .xxsma-span-11{grid-column: span 11;}
 .xxsma-span-12{grid-column: span 12;}

 }


 /*TEMA WHITE PREDETERMINADO*/



/*//////////////////////////

		|ESTILOS GENERALES|

 ///////////////////////////*/


 body{

 	
   scroll-behavior: smooth !important;
	/*background: var(--neko-xbg-bandw-colorwhite);*/
   background: linear-gradient(to top right, rgba(40,243, 212, 0.1), var(--neko-xbg-bandw-colorwhite) 60%, rgba(234, 40, 243, 0.1));
   /*background: linear-gradient(to bottom left, var(--neko-xbg-bandw-colorwhite) 60%, rgba(40,243, 212, 0.1));*/

 	font-family: var(--neko-xfont-ubuntu);
 	font-size: 18px;
   color: var(--neko-xbg-bandw-colorblack);
   font-weight: 400;
   position: relative;
   z-index: 1;
   transition: 0.2s ease !important;
   padding-top: 2rem;
   /*min-height: calc(100vh - 55px - 150px) !important;*/
   /*background: linear-gradient(120deg, transparent 75%, #a13582 75%) 0 0, linear-gradient(240deg, transparent 75%, #a13582 75%) 0 0, linear-gradient(120deg, transparent 75%, #772760 75%) 28.867513452295906px -50px, linear-gradient(240deg, transparent 75%, #772760 75%) 28.867513452295906px 50px, linear-gradient(#48183b 50%, #39132e 50%);
  background-size: 57.73502690459181px 100px;*/
 }

.style_meme{
   background: url("/img/img_bgs/lava-rock.gif") !important;
   background-size: 15% !important;
   background-repeat: repeat !important;
   transition: all 0.2s ease !important;
}

footer{
   background: var(--neko-xbg-bandw-colorblack);
   color: var(--neko-xbg-bandw-colorwhite);
   position: relative !important;
   z-index: 90 !important;
   font-size: 70%;
   text-align: center;
   bottom: 100% !important;
   height: 210px !important;

}

footer .logo{
   width: 20%;
}

footer h4{
   margin: 0.2rem 0 0.5rem 0;

}

footer p{

   font-size: 100% !important;
}

footer .ft{
   height: 4rem !important;
}

footer .socials a{
   display: inline-flex;
   justify-content: center;
   margin: 0 auto;
}
footer .socials a img{
   width: 20%;
}

footer a{
   text-decoration: none;
   color: var(--neko-xbg-bandw-colorwhite);
}

footer .topcontent{
   align-items: center;

}

footer .middlecontent{
   margin-top: 1.5rem;
}

footer .rightsreserved{
   margin-top: 1.5rem;
}

 p{

 	line-height: 18px;

 }

 img{

 	vertical-align: top;
 	width: 100%;
 }


 /*//////////////////////////

		|COMPONENTES|

 ///////////////////////////*/

 .card{

 	padding: 40px;
 	background: var(--neko-xbg-bandw-colorwhite);
 	border-radius: 3px;
 	box-shadow: 0px 0px 30px rgba(221, 221, 221, 0.3);
 }


 /*//////////////////////////

		|CONTENEDORES|

 ///////////////////////////*/


 .container{
 	max-width: 95%;
 	width: var(--neko-xwidth-container);
 	margin: 20px auto;
 	flex-wrap: wrap;

 }

.container-sup{
   min-height: calc(100vh - 55px - 210px) !important;
   overflow-x: hidden !important;

}

.container-sup-footnone{
   min-height: 100vh !important;
}

 .container-1_3{
   width: 33.33%;
   overflow: hidden;
   display: flex;
 }

.container-10perc{
   width: 10%;
   overflow: hidden;
   display: flex;
}

 .container-45perc{
   width: 45%;
   overflow: visible;
   display: flex;
 }

 .container-50perc{
   width: 50%;
   overflow: visible;
   display: flex;
   word-wrap: break-word;
 }

 .container-lg{
 	width: 100%;
 	padding: 0 40px;
 	margin: 20px auto;
 	
 }

 .containergames{
 	max-width: 97%;
 	width: 97%;
 	margin: 20px auto;
 	overflow: hidden;	
 }


 .row{

    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: flex;

}

.line{
  border-top: 1px solid black;
  height: 2px;
  width: 100%;
  padding: 0;

}

.linew{
  border-top: 1px solid white;
  height: 2px;
  width: 100%;
  padding: 0;

}

.minicircle{

     width: 32px;
     height: 32px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     background: var(--neko-xbg-bandw-colorblack2);
     margin: 0;
     color: var(--neko-xbg-bandw-colorwhite);
     text-align: center;
     align-content: center;
}

.minicircle h4{
   
     margin: 0;
     padding-top: 5px;
}

.circle{

     width: 90%;
     height: 90%;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     background: rgba(146, 231, 246, 0.6);
     margin: auto;
}

.circle h3,p{
   font-size: 70%;
}

.rectangulo{
     width: 80%; 
     height: auto; 
     border: 3px solid #555;
     background: rgba(146, 231, 246, 0.6);
     margin: auto;


}

.rectangulo h3,p{
   font-size: 70%;
}


@keyframes hidden{

   0%{opacity: 1.0;}
   25%{opacity: 0.7;} 
   50%{opacity: 0.5;}
   100%{opacity: 0;}
   {display: flex !important;}
   
   

}

@keyframes show{

   0%{opacity: 0;}
   25%{opacity: 0.3;}
   50%{opacity: 0.5;}
   100%{opacity: 1;}
   {display: none !important;}

   

}


.elementActive{
   
   animation: show 0.4s ease forwards;
   display: flex !important;
}

.elementInactive{
   display: none !important;
   animation: hidden 0.4s ease forwards;
   
}

.elementInactiveR{
   
   display: none !important;
}


.headernkv1white{
	
	background-color: var(--neko-xbg-bandw-colorblack);
 	display: flex;
 	flex-wrap: nowrap;
 	border-width: 0px;
	border-color: #4e5651;
	/*border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;*/
	border-style: inset;
   height: 55px !important;
   color: var(--neko-xbg-bandw-colorwhite);
	/*box-shadow: inset -1px -1px 10px 6px rgba(229, 229, 229, 0.6) , -1px -1px 8px 4px rgba( 23, 23, 23, 0.2);*/
   z-index: 130;
   transition: 0.2s ease;
   position: fixed;
   top: 0;
   left: 0;
   margin:  0;
}

header .container{
	display: flex;
 	flex-wrap: wrap;
 	margin: 0px 0.5rem 0px 1rem;
 	width: 10%;
 	/*max-width: 20%;*/
}

header #logohome{
   text-decoration: none;
   color: var(--neko-xbg-bandw-colorwhite);
   display: flex;
   align-items: center;
   text-align: justify;
   padding: 0px 0px;

   font-family: var(--neko-xfont-v3Oxygen);
   font-weight: 300;
   transition: 0.3s ease all;
   margin: 2% 0% 2% 2%;
}

header h1{
	/*color: var(--neko-xbg-nav-bandw-colorwhite);*/
	display: flex;
	align-items: center;
	text-align: justify;
	padding: 0px 0px;
	font-size: 85%;
	font-family: var(--neko-xfont-v3Oxygen);
   font-weight: 300;
	transition: 0.3s ease all;

	
}


header nav{
   display: inline-flex;
   margin: 0.2em 0;
  text-align: center;
   position: relative;
   width: 100%;
   flex-wrap: wrap;
   z-index: 140;
   transition: 0.2s ease !important;
}

header nav ul,li{
   list-style: none;
   padding: 0;
   margin: 0;


}

header nav ul li{
   display: inline-flex;
   border-radius: 0px;
   font-size: 1rem;
   padding: 0;
  

}

header nav ul li a,
header nav ul li label{
   border-radius: 0px;
   font-size: 1rem;
   width: 100%;
   height: auto;
   padding: 1rem 1rem;
   text-decoration: none;
   color: var(--neko-xbg-bandw-colorwhite);
   white-space: nowrap;
   transition: all 0.2s ease;


   
}

header nav ul li a:hover,
header nav ul li label:hover{
   background-color: var(--neko-xbg-bandw-colorwhite);
   color: var(--neko-xbg-bandw-colorblack);
}

header nav ul ul{
   display: none;
}

header nav > ul{
   display: flex;
   justify-content: right;
   width: 100%;
   align-items: center;
   vertical-align: middle;
   transition: all 0.2s ease !important;


}

header nav > ul li{
   display: inline-flex;
   padding: 0rem 0rem;
   align-items: center;
   vertical-align: middle;
   height: 70%;
   position: relative;
   border-radius: 5px;
   margin: 0;


}
header nav > ul li a,
header nav > ul li label{
  
   border-radius: 5px;


}




header nav > ul li ul{
   background-color: var(--neko-xbg-bandw-colorblack);
   color: var(--neko-xbg-bandw-colorwhite);
   padding: 1rem 0rem;
   
   height: auto;
   position: absolute !important;
   top: 120% !important;
   right: 0;
   width: auto;
   flex-direction: column;
   z-index: 130 !important;
   display: none;
   



}
header nav > ul li:hover ul{
   display: inline-flex;
  
   vertical-align: middle;
}

header nav > ul li #btnMenu {
    display: none;
}

#btnMenu:checked + label ul {
    display: inline-flex;
}

header nav > ul li ul li{
   display: inline-flex;
   height: 3rem;
   width: 100%;
   text-align: center;
   justify-content: center;

   


}

#dMenu{
   transition: 0.2s ease;
}

header nav > ul li ul li a{
   display: inline-block;
   height: 3rem;
   align-items: center;
   vertical-align: middle;
   text-align: center;
   width: 100%;
   font-size: 0.9rem;
   flex-wrap: nowrap;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 0px !important;

}

header nav > ul li ul li ul{
   background-color: var(--neko-xbg-bandw-colorblack);
   color: var(--neko-xbg-bandw-colorwhite);
   padding: 1rem 0rem;
   align-items: center;
   vertical-align: middle;
   justify-content: center;
   height: auto;
   position: absolute !important;
   top: 0%;
   left: -100%;
   width: 100%;
   flex-direction: column;
   z-index: 115 !important;
   display: none !important;
   flex-wrap: wrap;
   


}

header nav > ul li ul li:hover ul{
   display: inline-flex !important;
   align-items: center;
   vertical-align: middle;

}

header nav > ul li ul li ul li{
   display: inline-block;
   height: 3rem;
   width: 100%;
   text-align: center;
   justify-content: center;

   


}
header nav > ul li ul li ul li a{
   border-radius: 0px !important;

   


}



/*HEADER INVERTED*/



.dark_theme_nav nav ul li a,
.dark_theme_nav nav ul li label{
   border-radius: 0px;
   font-size: 1rem;
   width: 100%;
   height: auto;
   padding: 1rem 1rem;
   text-decoration: none;
   color: var(--neko-xbg-bandw-colorblack) !important;
   white-space: nowrap;
   transition: all 0.2s ease;


   
}

.dark_theme_nav nav ul li a:hover,
.dark_theme_nav nav ul li label:hover{
   background-color: var(--neko-xbg-bandw-colorblack) !important;
   color: var(--neko-xbg-bandw-colorwhite) !important;
}

.dark_theme_nav nav ul ul{
   display: none;
}

.dark_theme_nav nav > ul{
   display: flex;
   justify-content: right;
   width: 100%;
   align-items: center;
   vertical-align: middle;


}

.dark_theme_nav nav > ul li{
   display: inline-flex;
   padding: 0rem 0rem;
   align-items: center;
   vertical-align: middle;
   height: 70%;
   position: relative;
   border-radius: 5px;


}
.dark_theme_nav nav > ul li a,
.dark_theme_nav nav > ul li label{
  
   border-radius: 5px;


}




.dark_theme_nav nav > ul li ul{
   background-color: var(--neko-xbg-bandw-colorwhite) !important;
   color: var(--neko-xbg-bandw-colorblack) !important;
   padding: 1rem 0rem;
   
   height: auto;
   position: absolute !important;
   top: 120%;
   right: 0;
   width: auto;
   flex-direction: column;
   z-index: 130 !important;
   display: none;
   



}
.dark_theme_nav nav > ul li:hover ul{
   display: inline-flex;
   align-items: center;
   vertical-align: middle;
}

.dark_theme_nav nav > ul li #btnMenu {
    display: none;
}

#btnMenu:checked + label ul {
    display: inline-flex;
}

.dark_theme_nav nav > ul li ul li{
   display: inline-flex;
   height: 3rem;
   width: 100%;
   text-align: center;
   justify-content: center;

   


}

.dark_theme_nav nav > ul li ul li a{
   display: inline-block;
   height: 3rem;
   align-items: center;
   vertical-align: middle;
   text-align: center;
   width: 100%;
   font-size: 0.9rem;
   flex-wrap: nowrap;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 0px !important;

}

.dark_theme_nav nav > ul li ul li ul{
   background-color: var(--neko-xbg-bandw-colorwhite) !important;
   color: var(--neko-xbg-bandw-colorblack) !important;
   padding: 1rem 0rem;
   align-items: center;
   vertical-align: middle;
   justify-content: center;
   height: auto;
   position: absolute !important;
   top: 0%;
   left: -100%;
   width: 100%;
   flex-direction: column;
   z-index: 115 !important;
   display: none !important;
   flex-wrap: wrap;
   


}

.dark_theme_nav nav > ul li ul li:hover ul{
   display: inline-flex !important;
   align-items: center;
   vertical-align: middle;

}

.dark_theme_nav nav > ul li ul li ul li{
   display: inline-block;
   height: 3rem;
   width: 100%;
   text-align: center;
   justify-content: center;

   


}
.dark_theme_nav nav > ul li ul li ul li a{
   border-radius: 0px !important;

   


}


/*////////////////////////////////////7*/

  

.box-neko-header-logo{
   display: inline-flex;
	margin: 0.2em 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
   width: 100%;
   
	
}

.box-neko-header-logo .neko-header-logo{
   display: inline-flex;
	vertical-align: top;
	align-items: center;
	position: relative;
	width: 25%;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 0px rgba(110, 110, 110, 0.5);
	transition: box-shadow 0.3s ease-in-out;
	object-fit: cover;
	justify-content: center;
	text-align: center;
	margin: 0.5em 0px;
}




@media screen and (max-width: 950px){

   header .nav .option button{
   display: block;

   }

   header .nav #nav-option-subp{
   display: none;
   }
   
}