<div class="bg-one" id="bg-one"></div>
<div class="bg-two" id="bg-two"></div>

<section class="container displayn" id="otherview">

	<div class="row">

		<div class="container">
			
			<div class="row center">
				<h2>Neko Games Luck</h2>

			</div>

			<div class="line" id="line"></div>
			<div id="linew" class="linew displayn"></div>

			<div class="row center">

				<h5>Neko Games Luck es una plataforma de juegos variados, creado con la finalidad de aportar liquidez a token, al mismo tiempo que los usuarios se divierten y se juegan la posiblidad de obtener un gran premio.
				En resumen, esta plataforma funciona como uno de los primeros y principales pilares para el ascenso y posterior crecimiento del token.</h5>

			</div>


			<div class="row center">
				<h4>Funcionamiento</h4>

			</div>

			<div class="row center">

				<p>Antes de cualquier cosa, debes tener presente que la plataforma utiliza su propia moneda virtual, esta se divide en dos (tickets y monedas), los cuales puedes comprar en el apartado Tienda, recuerda que obviamente para poder comprar tickets o monedas es necesario que tengas liquidez en tu wallet.
				 Para revisar o ingresar la liquidez a tu cuenta, es necesario que te dirijas al apartado Wallet, ahí podrás observar la opción que dice "Depositar", esta opción te permite abonar dinero real a tu cuenta (únicamente USDT), para ello debes dar click en el botón y este te llevará a otra pantalla donde podrás ingresar la cantidad que deseas depositar, ya ingresada la cantidad procedes a dar click en el botón "Depositar a mi wallet", esto inmediatamente abrirá una ventana de tu cartera Metamask, en la cual podrás observar todos los detalles de la transacción (catidad de tokensUSDT a ingresar, tu cartera, cartera destino y los fees de la transacción), por último solo debes aceptar dicha transacción y en breve podrás revisar los fondos ingresados en tu cuenta.
				Con los fondos (USDT) en tu cuenta, ya puedes comprar ticket o monedas de la plataforma para comenzar a jugar y probar tu suerte. </p>


			</div>

			<div class="row center">
				<img id="projectsviewwhitep" src="/img/img_bgs/ruletasinfondo.png">

			</div>

			<div class="row center">
				<h4>Objetivos</h4>

			</div>

			<div class="row center" id="nglobjectives">

				<div class="container center flexdc">
					<p>Al integrar una plataforma de juegos variados no solo estamos apostando al publico conocedor del mundo crypto, también tenemos la posibilidad de llegar a diferentes públicos, por ejemplo, personas amantes de los juegos donde puedan probar su suerte y a la vez participar por un premio.
					Así, podemos estar seguros de que el proyecto siempre esta abierto a nuevo publico y por ende a un posible crecimiento constante y orgánico.</p>
					
					<p>Los objetivos principales de Neko Games Luck se podrían comprender de la siguiente manera:
						 <ul class="fontsize0dot8r">
						 	
						 	<li>Fungir como un pilar principal para la economía o liquidez del token, además de fungir como boveda para almacenar porcetajes que irán directamente a los costes requeridos para el crecimiento del proyecto, por ejemplo, el coste para la plataforma de CASINO y todos sus requisitos, el coste para las futuras auditorías externas, el coste para las futuras solicitudes de ingreso a alguna plataforma de exchange, y no menos importante, el coste para el mantenimiento de todas las palataformas del token (Neko Game, Neko Games Luck, Neko Game NTF, Wake Up The Neko, Neko Game METAVERSE), llamese dominio, hosting o cualquier necesidad que se requiera para el óptimo funcionamiento de estas. </li>

						 	<li>Dar la oportunidad a los usuarios, principalmente a los holders, de que puedan pobrar su suerte mientras se divierten y a la vez tienen la oportunidad de ganar grandes premios.</li>
						 </ul>

					</p>
				</div>


			</div>


			<div class="row center">
				<h4>Leer Whitepaper Neko Games Luck</h4>

			</div>

			<div class="row center">
				<img id="projectsviewwhitep" src="/img/img_bgs/nekosenalandopapeleswhitepaperflotando.png">

			</div>

			<div class="row">
				<div class="container">

					<div class="row whitepaper" id="rowwhitep">

						<div class="container center flexdc">

							<div class="marco subprojects">

								<div class="marcotop"></div>
								<div class="marcoright"></div>
								<div class="marcobottom"></div>
								<div class="marcoleft"></div>

								<a id="btn_style" class="btn_style_1" href="http://localhost:4005{{ whitepaperNGL.url }}">Neko Games Luck<img src="/img/img_bgs/pancakecaritalogo.png"></a>

							</div>

						</div>

					</div>


				</div>
			</div>

		</div>	
	</div>
</section>		