<div class="bg-one" id="bg-one"></div>
<div class="bg-two" id="bg-two"></div>

<section class="container displayn" id="otherview">

	<div class="row">

		<div class="container">
			
			<div class="row center">
				<h2>NWake Up The Neko</h2>
			</div>

			<div id="line" class="line"></div>
			<div id="linew" class="linew displayn"></div>

			<!--<div class="row center">
				<h4>ffsdf</h4>
			</div>-->

			<div class="row margint3r center felxdc">

				<div class="container center flexdc">
					<h2 class="projectstextinconstruction">En construcción...</h2>
					<h5 class="projectstextinconstruction">Estamos trabajando duro, pronto tendrás noticias.</h5>
					<img id="projectsviewwhitep" src="/img/img_bgs/nekoenconstruccion3.png">
				</div>

			</div>	

			

		</div>
	</div>

	


	


</section>