{{#if footerNone}}
<div></div>
{{else}}
<footer class="row" id="footer">
		<div class="container">

		<!--<div class="container">
			<img class="logo" src="/img/img_icons/logo_nekofc.svg">
		</div>-->

			<div class="row">
					<h5 class="marginanone">Última actualización:</h5><h5 class="marginanone marginla">v0.0.1</h5>
			</div>
			<div class="row middlecontent">
				
				<div class="container">
				
				

					<h4>Redes sociales / Contacto:</h4>
					<div class="row socials center displayn" id="socialsfooterw">
						<a target="_blank" href="http://www.google.com"><img src="/img/img_bgs/youtube_logo_black_transparent.png"></a><a href=""><img src="/img/img_bgs/twitter_logo_black_transparent.png"></a><a href=""><img src="/img/img_bgs/facebook_logo_black_transparent.png"></a><a href=""><img src="/img/img_bgs/telegram_logo_black_transparent.png"></a>
					</div>

					<div class="row socials center" id="socialsfooterb">
						<a target="_blank" href="http://www.google.com"><img src="/img/img_bgs/youtube_logo_white_transparent.png"></a><a href=""><img src="/img/img_bgs/twitter_logo_white_transparent.png"></a><a href=""><img src="/img/img_bgs/facebook_logo_white_transparent.png"></a><a href=""><img src="/img/img_bgs/telegram_logo_white_transparent.png"></a>
					</div>
				

				</div>

				<div class="container">

					<h4>Desarroladores:</h4>
					<a id="link" href="/devs">Equipo de desarrollo</a>

				</div>

				

			</div>
			<div class="row flexdc rightsreserved">
				
					<div id="linefoot" class="linew"></div>
					<div id="linefootb" class="line"></div>


					<p class="marginanone">Copyright © 2022 Neko Game. Todos los derechos reservados.</p>

				
				
			</div>
		</div>
		

</footer>

{{/if}}