{{#if navNormal }}
<header class="row headernkv1white" id="navheader">


    <div class="container-45perc">
      <a id="logohome" href="/"><h1>Neko Game</h1></a>
    </div>

    <div class="container-10perc center">
      <div class="box-neko-header-logo">    
            <img src="/img/img_icons/logo_nekofc.svg" class="neko-header-logo displayn" id="navlogonekofb" title="moneda">
            <img src="/img/img_icons/logo_nekofcw.svg" class="neko-header-logo" id="navlogonekofw" title="moneda">

      </div>
    </div>

    <div class="container-45perc">
      <nav id="nav">
        <ul id="navfirstul">
          <li id="navi1"><a href="#three">RoadMap</a></li>
          <li id="navi2"><a href="#four">Whitepaper</a></li>
          <li id="navi3"><a href="#five">Tokenomics</a></li>
          
          <li>
            <input type="checkbox" name="btnMenu" id="btnMenu"/>
            
            <label for="btnMenu">Menú
         
            <ul id="dMenu">
              <div class="row flexdr">
                <div class="container-50perc center flexdc">
                  <h6>Color de tema</h6>
                  <input type="checkbox" name="themec" id="themec">
                </div>
                <div class="container-50perc center flexdc">
                  <h6>Estilo de tema</h6>
                  <input type="checkbox" name="themes" id="themes">
                </div>

              </div>
              
              <li id="navi1in"><a href="#three">RoadMap</a></li>
              <li id="navi2in"><a href="#four">Whitepaper</a></li>
              <li id="navi3in"><a href="#five">Tokenomics</a></li>
              <li><a href="/projects/nekogamesluck">Neko Games Luck</a></li>
              <li><a href="/projects/wakeuptheneko">Wake Up the Neko</a></li>

              <li><a href="/projects/nekogamenetwork">Neko Game Network</a></li>
              <li><input type="checkbox" name="btnMenu" id="btnMenu"/>
            
              <label for="btnMenu">Neko Game NFT
                <ul>
                  <li><a href="/projects/nft/nekogameauction">NKG Auction</a></li>
                </ul>
              </label>
              </li>
              <li><a href="/projects/nekogamecasino">Neko Game CASINO</a></li>
              <li><a href="/projects/nekogamemetaverse">Neko Game Metaverso</a></li>


            </ul>
            </label>
          </li>
        </ul>
      </nav>
    </div>
    
</header>

{{else if navEmpty }}


<header class="row headernkv1white" id="navheader">


    <div class="container-45perc">
      <a id="logohome" href="/"><h1>Neko Game</h1></a>
    </div>

    <div class="container-10perc center">
      <div class="box-neko-header-logo">    
            <img src="/img/img_icons/logo_nekofc.svg" class="neko-header-logo displayn" id="navlogonekofb" title="moneda">
            <img src="/img/img_icons/logo_nekofcw.svg" class="neko-header-logo" id="navlogonekofw" title="moneda">

      </div>
    </div>

    <div class="container-45perc">
      <nav id="nav">
        <ul id="navfirstul">
          
          <li>
            <input type="checkbox" name="btnMenu" id="btnMenu"/>
            
            <label for="btnMenu">Menú
         
            <ul id="dMenu">
              <div class="row flexdr">
                <div class="container-50perc center flexdc">
                  <h6>Color de tema</h6>
                  <input type="checkbox" name="themec" id="themec">
                </div>
                <div class="container-50perc center flexdc">
                  <h6>Estilo de tema</h6>
                  <input type="checkbox" name="themes" id="themes">
                </div>

              </div>
              
              <li><a href="/projects/nekogamesluck">Neko Games Luck</a></li>
              <li><a href="/projects/wakeuptheneko">Wake Up the Neko</a></li>

              <li><a href="/projects/nekogamenetwork">Neko Game Network</a></li>
              <li><input type="checkbox" name="btnMenu" id="btnMenu"/>
            
              <label for="btnMenu">Neko Games NFT
                <ul>
                  <li><a href="/projects/nft/nekogameauction">NKG Auction</a></li>
                </ul>
              </label>
              </li>
              <li><a href="/projects/nekogamecasino">Neko Game CASINO</a></li>
              <li><a href="/projects/nekogamemetaverse">Neko Game Metaverso</a></li>


            </ul>
            </label>
          </li>
        </ul>
      </nav>
    </div>
    
</header>

{{/if}}
