<header class="row headernkv1white">

<!-- CLASE PARA PONER TEMA BLACK EN LA NAV headernkv2black-->
<!-- CLASE PARA PONER TEMA BLACK EN LA NAV headernkv1white-->

  
       
      <!--<div class="container">
        <h1 class="titles">
           
          <span>N</span>
          <span>e</span>
          <span>k</span>
          <span>o</span>
          &nbsp;
          <span>G</span>
          <span>a</span>
          <span>m</span>
          <span>e</span>
          <span class="spread">s</span>

        </h1>
      </div>-->

    <div class="container">
      <h1>Neko Game</h1>
    </div>

    <div class="container" id="logofacenekooutnav">
      <div class="box-neko-header-logo">    
                <img src="/img/img_icons/logo_nekofc.svg" class="neko-header-logo" title="moneda">
      </div>
    </div>
    <nav class="nav" id="navmenuoutnavf"> 
        <div class="navmenu" id="navmenuoutnav">
            <button type="button" id="btnnmenubarsout" class="elementActive"><i class="fa-solid fa-bars"></i></button>
            <button type="button" id="btnnmenuxcloseout" class="elementInactive"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </nav>
    

    <nav class="nav" id="navlineal">
      <div class="container" id="navlinealcontent">
            <a href="http://localhost:4005/proyects/nekogamesluck">Neko Games Luck</a>
            <a>Wake Up The Cat</a>
            <a href="http://localhost:4005/proyects/nekogamenetwork">Neko Game Network</a>

            <div class="box-neko-header-logo" id="logofacenekoinnav">    
                      <img src="/img/img_icons/logo_nekofc.svg" class="neko-header-logo" title="moneda">
            </div>
            <a>Neko Game NFT</a>
            <a>Neko Game CASINO</a>
            <a>Neko Game Metaverso</a>


       

      </div>

      <div class="navmenu">
            <button type="button" id="btnnmenubars" class="elementActive"><i class="fa-solid fa-bars"></i></button>
            <button type="button" id="btnnmenuxclose" class="elementInactive"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </nav>

    
    
    
  
    
  </header>