
<section class="modal">
		
		<div class="modal-container">
			<img class="modal-img" src="/img/img_roulette/nekitoswinner.png">
			<h2 class="modal-title">¡Haz ganado!</h2>
			<h3 class="modal-subtitle">Felicidades, ganaste</h3>
			<img class="modal-img" src="/img/img_roulette/prizex2boletos.png">
			<p class="modal-paragraph"></p>
			<button class="modal-close">aceptar</button>

		</div>
	</section>

