<div class="bg-one" id="bg-one"></div>
<div class="bg-two" id="bg-two"></div>

<section class="container displayn" id="otherview">

	<div class="row">

		<div class="container">
			
			<div class="row center">
				<h2>Desarrolladores Neko Game</h2>

			</div>

			<div id="line" class="line"></div>
			<div id="linew" class="linew displayn"></div>

			<!--<div class="row center">
				<h4>ffsdf</h4>
			</div>-->

			<div class="row margint3r center felxdr devs" id="rowdevs">

				
						<div class="marco" id="imgdev">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>

							<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
							<div class="devinfo flexdc center">
								<h5>Raúl</h5>
								<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
								<p><i class="fa-solid fa-at"></i>raul_rodri</p>
								<h6><i class="fa-solid fa-location-dot"></i>España</h6>
								<div class="line"></div>
								<h6>Programador</h6>
							</div>
							

						</div>


							<div class="marco" id="imgdev">

								<div class="marcotop"></div>
								<div class="marcoright"></div>
								<div class="marcobottom"></div>
								<div class="marcoleft"></div>

								<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
								<div class="devinfo flexdc center">
									<h5>Francisco</h5>
									<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
									<p><i class="fa-solid fa-at"></i>Frank_AR</p>
									<h6><i class="fa-solid fa-location-dot"></i>México</h6>
									<div class="line"></div>
									<h6>Programador</h6>
									<h6 id="h64">Diseñador</h6>

								</div>

							</div>
						<div class="marco" id="imgdev">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>

							<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
							<div class="devinfo flexdc center">
								<h5>Esteban</h5>
								<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
								<p><i class="fa-solid fa-at"></i>ESTEBAN5612</p>
								<h6><i class="fa-solid fa-location-dot"></i>México</h6>
								<div class="line"></div>
								<h6>Diseñador</h6>
								<h6 id="h64">Comunidad</h6>


							</div>

						</div>

						<div class="marco" id="imgdev">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>

							<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
							<div class="devinfo flexdc center">
								<h5>Sebastián</h5>
								<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
								<p><i class="fa-solid fa-at"></i>sbstnbar</p>
								<h6><i class="fa-solid fa-location-dot"></i>Argentina</h6>
								<div class="line"></div>
								<h6>Programador</h6>


							</div>

						</div>

						<div class="marco" id="imgdev">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>

							<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
							<div class="devinfo flexdc center">
								<h5>Daiana</h5>
								<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
								<p><i class="fa-solid fa-at"></i>Daianapotter</p>
								<h6><i class="fa-solid fa-location-dot"></i>España</h6>
								<div class="line"></div>
								<h6>Comunidad</h6>


							</div>

						</div>

						<div class="marco" id="imgdev">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>

							<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
							<div class="devinfo flexdc center">
								<h5>Carlos</h5>
								<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
								<p><i class="fa-solid fa-at"></i>johnpiperccsppl</p>
								<h6><i class="fa-solid fa-location-dot"></i>Estados Unidos</h6>
								<div class="line"></div>
								<h6>Programador</h6>


							</div>

						</div>

						<div class="marco" id="imgdev">

							<div class="marcotop"></div>
							<div class="marcoright"></div>
							<div class="marcobottom"></div>
							<div class="marcoleft"></div>

							<img class="imgp" src="/img/img_bgs/portadadevsnofoto.svg">
							<div class="devinfo flexdc center">
								<h5>Valeriy</h5>
								<h6><i class="fa-brands fa-telegram"></i>Telegram:</h6>
								<p><i class="fa-solid fa-at"></i>Valeriy03</p>
								<h6><i class="fa-solid fa-location-dot"></i>España</h6>
								<div class="line"></div>
								<h6>Comunidad</h6>


							</div>

						</div>

			</div>	

			

		</div>
	</div>

	


	


</section>