<section class="container displayn container-sup" id="otherview">

	<div class="row">

		<div class="container">
			
			<div class="row center">
				<h2>Neko Game</h2>

			</div>

			<div class="line" id="line"></div>
			<div id="linew" class="linew displayn"></div>

			<div class="row center">

				<h5>Neko Game es lo que todos estabamos buscando, un proyecto token crypto que realmente se guíe por el interés y opinión de sus holders, un proyecto que vela por el beneficio de todos, los holders son quienes toman las decisiones finales, ellos decidirán el rumbo que tomará el token y subproyectos.</h5>

			</div>


			<div class="row center">
				<h4>Mentalidad de los devs</h4>

			</div>

			<div class="row center">

				<p>Nuestra mentalidad es siempre la de crear y nuca la de destruír, somos conscientes de el punto actual en el que se encuentra el mercado de las cryptomonedas, en especial de los token (shitcoins), aunque no quisieramos llamar por ese nombre a este grandioso token, de momento es lo que es, una shitcoin, sin embargo esto no es lo que se busca, lo que queremos como equipo de desarrollo y en general como parte de la comunidad, es crear un proyecto token completamente diferente, algo serio y que no se preste a malas prácticas o interpretaciones.
				Como quizás ya lo sabes, los devs no recibiremos ningún pago/ganancia hasta que el token y subproyectos se encuentren en un punto de verdad estable, nuevamente, nuestro verdadero interés está en hacer algo diferente y grandioso, cuando estemos en la luna ya será momento de celebrar juntos.</p>


			</div>

			<div class="row center">
				<img id="projectsviewwhitep" src="/img/img_bgs/nekosabrazados3.png">

			</div>

			<div class="row center">
				<h4>Grandes beneficios</h4>

			</div>

			<div class="row center" id="nglobjectives">

				<div class="container center flexdc">
					<p>Hemos diseñado el token de tal manera que el holder siempre se vea beneficiado, mientras más apegado seas al token, más beneficios podrás obtener, obvio todo esto es en cuanto a porcentajes, ya que en realidad nadie está por encima de nadie.
					Somos fervientes creyentes de que lo mejor siempre viene hasta el final, quisieramos que toda nuestra comunidad pudiese compartír esta manera de pensar, este proyecto no es algo para hacer dinero en poco tiempo, claro, puedes hacerlo, pero la verdadera ganancia podrás verla si realmente eres un holder aguerrido y te mantienes en HOLD por un buen tiempo, nuevamente, recuerda que el que persevera alcanza, lo fácil y rápido nunca dura.</p>

					<div class="container">
						<h5>ES MOMENTO DE COMPRAR Y HOLDEAR</h5>
					</div>
				</div>

			</div>


			<div class="row center">
				<img id="projectsviewwhitep" src="/img/img_bgs/nekocompranodonekoenlaptopconflechaybotonverdes.png">

			</div>


			<div class="row center">
				<h4>Susproyectos de soporte</h4>

			</div>

			<div class="row center">

				<p>Neko Game cuenta con un expendio de subproyectos que fungen como pilares/soportes, estos subproyectos no sólo generan liquidez al token, también otorgan una especie de baúles, los cuales tienen distintas finalidades, pero principalmente la de cubrir costes futuros, por ejemplo, costes de mantenimiento para los mismos subproyectos, costes futuros para auditorías del token, costes futuros para ingreso a plataformas de intercambio, costes futuros para nuevos subproyectos e incluso fungen como baúles anti-ballenas, método utilizado para garantizar un crecimiento y comportamiento más orgánico del token.<br>
				Es importante aclarar que toda la información de estos baúles será totalmente pública para los holders, se podrán consultar movimientos en la misma red BSC, antes de hacer uso de cualquier cantidad de dichos baúles, esto deberá ser notificado a la comunidad de holders, además de que se publicará un boletín cada vez que se solicite el uso de estos, informando la finalidad o el uso empleado de esta liquidez. Con cuentas claras nos evitamos malos entendidos.</p>


			</div>

			<div class="row center">
				<img id="projectsviewwhitep" src="/img/img_bgs/nekoastronautaconvariosmundos3.png">

			</div>


			<div class="row center">
					<h4>Leer Whitepaper Neko Game</h4>
			</div>

			<div class="row center">
				<img id="projectsviewwhitep" src="/img/img_bgs/nekosenalandopapeleswhitepaperflotando.png">

			</div>

			<div class="row center">
				<h6>(Versión Meme)</h6>
			</div>

			<div class="row">
				<div class="container">

					<div class="row whitepaper" id="rowwhitep">

						<div class="container center flexdc">

							<div class="marco subprojects">

								<div class="marcotop"></div>
								<div class="marcoright"></div>
								<div class="marcobottom"></div>
								<div class="marcoleft"></div>

								<a id="btn_style" class="btn_style_1" target="_nblank" href="{{ whitepaperMeme.url }}">Neko Game<img src="/img/img_bgs/pancakecaritalogo.png"></a>

							</div>

						</div>

					</div>


				</div>
			</div>

			<div class="row center">
				<h6>(Versión Formal)</h6>
			</div>

			<div class="row">
				<div class="container">

					<div class="row whitepaper" id="rowwhitep">

						<div class="container center flexdc">

							<div class="marco subprojects">

								<div class="marcotop"></div>
								<div class="marcoright"></div>
								<div class="marcobottom"></div>
								<div class="marcoleft"></div>

								<a id="btn_style" class="btn_style_1" target="_nblank" href="{{ whitepaperFormal.url }}">Neko Game<img src="/img/img_bgs/pancakecaritalogo.png"></a>

							</div>

						</div>

					</div>


				</div>
			</div>

		</div>	
	</div>
</section>		