<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA_Compatible" content="ie=edge">
	<title>Neko Game</title>
	{{!-- ESTILOS PERSONALIZADOS --}}
	<link rel="stylesheet" type="text/css" href="/css/Neko_basestyle.css">
	<link rel="stylesheet" type="text/css" href="/css/NekoGame_xUIstyle.css">
</head>
<body id="body">

<!-- CLASE PARA PONER TEMA BLACK EN EL BODY nkblack-->
	{{> loader }}

	{{> main_nav }}

	{{> notification }}

	{{{ body }}}


	{{> footer }}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/41a9c7b63c.js" crossorigin="anonymous"></script>
	<script src="/js/main.js"></script>

</body>
</html>